// Body
$body-bg: whitesmoke;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$red-04: rgba(255, 0, 0, .4);
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//colors
$background-color-other: rgba(22, 233, 205, 0.233);
$background-color-main-light: rgba(22, 233, 205, 0.65);
$color-primary: rgb(22,233,205);
$color-secondary: rgb(165,42,42);
$modal-background: aliceblue;
$dashboard-section-second-background-color:whitesmoke;

//mixins
@mixin text-overflow() {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

@mixin sticky-loader() {
    position: sticky;
    width: 100%;
    text-align: center;
    top: 10px;
    z-index: 1;
    top: 49%;
}

@mixin form-section() {
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid gray;
    margin: 30px 0 10px;
    text-transform: capitalize;
}

@mixin small-close() {
    font-size: 14px;
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 5px 5px 10px 10px;
}

@mixin main-section-headings($value) {
    font-size: $value;
    text-align: center;
    background: mintcream;
    padding: 10px;
    font-weight: 500;
    color: gray;
}

@mixin scroll-x {    
    display: flex;
    width: 100%;
    padding: 10px;
    overflow-x: auto;
}

@mixin normal-box-shadow($pixels: 1px) {    
    box-shadow: 0 0 $pixels gray;
}

@mixin small-msg ($fontSize: 12px) {
    font-size: $fontSize;
    color: gray;
    text-align: center;
    width: 100%;
}

//classes
.small-msg{
    @include small-msg()
}
