// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
// @import '~bootstrap';
// @import '~bootstrap-vue';

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}
